workflows/20a-tool-list-services.json
{
  "name": "20a — Tool: list_services",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-execute",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT code, title, duration_min, price_rub FROM services WHERE is_active=TRUE ORDER BY sort_order, title;",
        "options": {}
      },
      "id": "pg-services",
      "name": "Get Services",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -560,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_APP_CRED_ID",
          "name": "Postgres — automind app"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst lines = rows.map(r => `- ${r.title} (code=${r.code}, ${r.duration_min} мин, ${r.price_rub} ₽)`);\nreturn [{ json: { services: lines.join('\\n') || 'Нет активных услуг' } }];\n"
      },
      "id": "code-shape",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Services": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "automind"
    },
    {
      "name": "ai-tool"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
