workflows/30-supervisor.json
{
  "name": "30 — Supervisor (Telegram)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "trigger-tg",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1400,
        0
      ],
      "webhookId": "automind-supervisor",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CRED_ID",
          "name": "Telegram Bot — АвтоMind"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pre-filter: only free text from team members (configured via env).\nconst raw = $input.first().json;\nif (!raw.message || !raw.message.text) return [{ json: { skip: true } }];\nconst text = raw.message.text.trim();\n// Skip /-commands и сообщения от обычных клиентов (бот записи их обработает).\nif (text.startsWith('/')) return [{ json: { skip: true } }];\n\n// Whitelist: только команда (chat_id из TEAM_TELEGRAM_CHAT_ID или его участники).\nconst teamChatId = String(process.env.TEAM_TELEGRAM_CHAT_ID || '');\nconst chatId = String(raw.message.chat.id);\n// Если whitelisting не настроен — пропускаем всех (для разработки).\nif (teamChatId && chatId !== teamChatId) return [{ json: { skip: true } }];\n\nreturn [{\n  json: {\n    skip: false,\n    chatId: raw.message.chat.id,\n    sessionKey: `supervisor:${raw.message.chat.id}`,\n    text,\n    user: raw.message.from,\n    now: new Date().toISOString(),\n  }\n}];\n"
      },
      "id": "code-prepare",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Запрос от команды:\n{{ $json.text }}",
        "options": {
          "systemMessage": "Ты — Супервайзер AI-команды АвтоMind. Тебе пишут только участники команды (НЕ клиенты).\nТвоя задача: понять запрос, разбить его на этапы и делегировать под-агентам через tools.\n\nДоступные tools (под-агенты):\n- `qualify_lead(lead_id)` — Sales Manager. Квалифицирует входящего лида: задаёт 4 вопроса (ниша, размер, боль, готовность), рекомендует пакет, обновляет leads.status.\n- `search_knowledge(query)` — поиск по базе знаний АвтоMind (Obsidian _AI/). Используй когда вопрос про процессы, правила, скрипты, оферту.\n- `daily_report()` — Tech Writer. Собирает статистику за вчера и пишет отчёт-заметку в Vault.\n- `analytics(question)` — Analytics-агент. Отвечает на вопросы по метрикам (SQL read-only). Пример: «сколько лидов на этой неделе».\n- `escalate(reason)` — пометить, что справиться сам не можешь.\n\nПравила:\n1. ВСЕГДА используй tools, не пытайся отвечать «по памяти». На любой вопрос про практики/правила — `search_knowledge` первым делом.\n2. Если запрос неоднозначный — задай уточняющий вопрос ОДИН раз, потом действуй.\n3. Под-агентам передавай чёткую задачу одной строкой.\n4. Если поступило что-то технически невозможное (нужен ключ, доступ, новая интеграция) — `escalate`.\n5. Отвечай по-русски, кратко (≤ 5 строк), но без воды. Не повторяй то, что и так есть в выводе tool."
        }
      },
      "id": "ai-supervisor",
      "name": "Supervisor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -740,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "anthropic/claude-sonnet-4.5"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "llm-openrouter",
      "name": "Claude Sonnet 4.5 (OpenRouter)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -820,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENROUTER_CRED_ID",
          "name": "OpenRouter — АвтоMind"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Input').item.json.sessionKey }}",
        "tableName": "ai_sessions",
        "contextWindowLength": 12
      },
      "id": "memory-pg",
      "name": "Postgres Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -700,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_APP_CRED_ID",
          "name": "Postgres — automind app"
        }
      }
    },
    {
      "parameters": {
        "name": "search_knowledge",
        "description": "Поиск релевантных фрагментов в базе знаний АвтоMind (Obsidian Vault). Используй когда нужно опереться на принципы, скрипты, оферту, правила.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TOOL_RAG_SEARCH_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'natural language query') }}",
            "top_k": "={{ $fromAI('top_k', 'number of results, default 5') }}"
          }
        }
      },
      "id": "tool-rag",
      "name": "Tool: search_knowledge",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -580,
        220
      ]
    },
    {
      "parameters": {
        "name": "qualify_lead",
        "description": "Запускает Sales Manager-агента для квалификации лида по lead_id (число). Агент сам задаст вопросы клиенту и обновит status. Возвращает summary квалификации.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_SALES_MANAGER_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $fromAI('lead_id', 'numeric leads.id') }}"
          }
        }
      },
      "id": "tool-qualify",
      "name": "Tool: qualify_lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -460,
        220
      ]
    },
    {
      "parameters": {
        "name": "daily_report",
        "description": "Просит Tech Writer-агента собрать статистику за вчера и сохранить заметку в Vault.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TECH_WRITER_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trigger": "manual"
          }
        }
      },
      "id": "tool-report",
      "name": "Tool: daily_report",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -340,
        220
      ]
    },
    {
      "parameters": {
        "name": "analytics",
        "description": "Запускает Analytics-агента для read-only вопросов про цифры/метрики. Принимает строку вопроса.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_ANALYTICS_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ $fromAI('question', 'analytics question in natural language') }}"
          }
        }
      },
      "id": "tool-analytics",
      "name": "Tool: analytics",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -220,
        220
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Input').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "tg-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -520,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CRED_ID",
          "name": "Telegram Bot — АвтоMind"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO metrics (workflow, metric, value, tags) VALUES ('30-supervisor','message_handled',1,$1::jsonb);",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ chat_id: $('Prepare Input').item.json.chatId }) }}"
        }
      },
      "id": "pg-metric",
      "name": "Record Metric",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -300,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_APP_CRED_ID",
          "name": "Postgres — automind app"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process?": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Claude Sonnet 4.5 (OpenRouter)": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory": {
      "ai_memory": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: search_knowledge": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: qualify_lead": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: daily_report": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: analytics": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "Record Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "automind"
    },
    {
      "name": "ai-agent"
    },
    {
      "name": "supervisor"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
